:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: url("/docs/santa01.png") 0 0, pointer;
}
*::selection {
  background-color: goldenrod;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 80vw;
  width: 100%;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  color: #5c7356;
}
h2,
h3,
h4,
h5,
h6 {
    color: #cc5760;
}

button {
  cursor: url("/docs/santa03.png") 0 0, pointer;
        
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  outline: none !important;
  text-align: center;
  padding: 0.4ch 1.5ch;
  background-color: #5c7356;
  color: snow;
  border: 0.3ch #5c7356 solid;
  border-radius: 1ch;

  &:hover,
  &:focus {
      border-color: navy;
  }

  &:active {
      background-color: #5da84a;
  }

  &:disabled {
      cursor: not-allowed;
      border-color: #d1d1d1;
      background-color: #d1d1d1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
